<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.mapper.TPaperMapper">

    <!--        List<PaperVO> selectPaper(Page<PaperVO> page, String keyword, String subject);-->
    <select id="selectPaper" resultType="com.exam.entity.vo.PaperVO">
        SELECT p.`id`,s.`level_name` `level`,s.`name` `subject`,p.`paper_title`,p.`time`,p.`create_time`
        FROM t_paper p
        LEFT JOIN t_subject s ON p.`subject` = s.`id`
        WHERE p.`paper_title` like CONCAT("%",#{keyword},"%")
        <if test="subject != ''">
            AND p.`subject` = #{subject}
        </if>
        order by p.`create_time` desc


    </select>

    <select id="selectPaperById" resultMap="PaperVO">
        SELECT `id`,`level`,`subject`,`paper_title`,`time`
            FROM t_paper
            WHERE `id` = #{id}

    </select>

    <resultMap id="PaperVO" type="com.exam.entity.vo.PaperVO">
        <id property="id" column="id"/>
        <result property="level" column="level"/>
        <result property="subject" column="subject"/>
        <result property="paperTitle" column="paper_title"/>
        <result property="time" column="time"/>
        <collection property="questionItems"
                    select="com.exam.mapper.TPaperItemMapper.selectPaperItem"
                    column="id">
            <result property="questionTitle" column="title"/>
            <result property="totalScore" column="total_score"/>
            <result property="questionNum" column="question_num"/>
            <collection property="questionContent" ofType="com.exam.entity.vo.QuestionVO">
                <result property="id" column="question_id"/>
                <result property="questionType" column="question_type"/>
                <result property="subject" column="subject"/>
                <result property="score" column="score"/>
                <result property="level" column="level"/>
                <result property="questionContent" column="question_content"/>
            </collection>
        </collection>
    </resultMap>

</mapper>
