@font-face {
  font-family: "iconfont"; /* Project id 2873210 */
  src: url('//at.alicdn.com/t/font_2873210_guampibn7yh.woff2?t=1636634911921') format('woff2'),
  url('//at.alicdn.com/t/font_2873210_guampibn7yh.woff?t=1636634911921') format('woff'),
  url('//at.alicdn.com/t/font_2873210_guampibn7yh.ttf?t=1636634911921') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-haoyoushenqing:before {
  content: "\e6c2";
}

.icon-guanbi:before {
  content: "\e66f";
}

.icon-biaoqing:before {
  content: "\e601";
}

.icon-jiahao:before {
  content: "\eaf3";
}

.icon-tuichu:before {
  content: "\e600";
}

.icon-anzhuo:before {
  content: "\e677";
}

.icon-qunliao:before {
  content: "\e60a";
}

.icon-weibiaoti--:before {
  content: "\e60c";
}

.icon-jiqiren:before {
  content: "\e6ac";
}

.icon-gerenzhongxin:before {
  content: "\e626";
}

.icon-gengduo:before {
  content: "\e606";
}
